* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

#root { 
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

body {
  height: 100vh;
  background: #4a5c9e;
  &:after {
    content: 'Wall-b';
    color: white;
    font-size: 2rem;
    position: absolute;
    left: 15px;
    top: 15px;
    margin: auto;
    opacity: 0.8;
  }
}